<style>
</style>

<div class="bot" id="bot">
    <div class="container" id="container">
        <img class="bot-image" src="assets/monkey.png" alt="bot-image">


        <!-- login -->


        <button mat-button-update mat-raised-button color="primary" class="login" id="btn2" (click)="loginClicked()" id="btn2"
            *ngIf="this.login" (click)="this.login = false">

            {{buttonName}}
            <div id="questions" class="questions">Holidays are coiming</div>
        </button>

        <ng-container *ngIf="show">

            <div id="questions" class="questions">Hello what location would you like to take your holiday in? </div>



            <button mat-button-update mat-raised-button color="primary" class="btn2" id="btn2" (click)="countryClicked()" id="btn2"
            *ngIf="this.countryButton" (click)="this.countryButton = false">
            <button mat-button-update mat-raised-button color="primary" class="btn2" id="btn2">Africa</button>
            <button mat-button-update mat-raised-button color="primary" class="btn2" id="btn2">Asia</button>
            <button mat-button-update mat-raised-button color="primary" class="btn2" id="btn2">Australia</button>
            <button mat-button-update mat-raised-button color="primary" class="btn2" id="btn2">Antarctica</button>
    
        </button>
    </ng-container>

        <ng-container *ngIf="showAsia">



    
        </ng-container>





<!-- asia -->




<!-- 
            <button mat-button-update mat-raised-button color="primary" class="btn2" id="btn2" (click)="asiaClicked()" id="btn2"
            *ngIf="this.asiaButton" (click)="this.asiaButton = false">

    

            <div *ngFor="let countries of asia">

                <button mat-button-update mat-raised-button color="primary" color="primary" class="b" id="btn2"
                    (click)="asiaClick()">
                    {{ countries.Country }}
                </button>
            </div>

            <div id="questions" class="questions">Country</div>
        </button>

        <ng-container *ngIf="showAsia">

            <div id="questions" class="questions">list </div> -->









            

      






            



        <!-- Asia -->
        <!--        

        <button mat-button-update mat-raised-button color="primary" class="b" id="btn2" *ngIf="this.africaButton"
            (click)="this.asiaButton = false">
            {{asiaButton? 'Africa' : 'Africa'}}
            <div *ngIf="this.asiaVisible" (click)="asiaClick(); "> </div>

            <div *ngIf="this.asiaVisible;  then thenBlock else aisaBlock"></div>
        </button>



        <ng-template #thenBlock>


        </ng-template>
        <div *ngFor="let countries of asia">

            <button mat-button-update mat-raised-button color="primary" color="primary" class="b" id="btn2"
                (click)="asiaClick()">
                {{ countries.Country }}
            </button>
        </div>

        <ng-template #aisaBlock>


        </ng-template> -->




        <!-- Africa -->
        <!-- <button mat-button-update mat-raised-button color="primary" class="b" id="btn2" *ngIf ="this.africaButton" (click)="this.africaButton = false">
            {{africaButton? 'Africa' : 'Africa'}}
        <div *ngIf ="this.isButtonVisible" (click)="africaClick(); " > </div>
       
        <div *ngIf="this.isButtonVisible;  then thenBlock else africaBlock"></div>
        </button>

      

      


     
        <ng-template #thenBlock>
      
     
     

        <ng-template #africaBlock>
        </ng-template>
        <div *ngFor="let countries of africa">

            <button mat-button-update mat-raised-button color="primary" color="primary" class="b" id="btn2" (click)="africaClick()">
                {{ countries.Country }}
            </button>
        </div>
         
            </ng-template> -->




        <!-- Europe -->

        <!-- <button mat-button-update mat-raised-button color="primary" class="b" id="btn" (click)="this.eurButton = false">
            
            {{eurButton? 'Europe' : 'Europe'}}
            <div *ngIf="eurButton; then thenBlock else eurBlock"> </div>
          
        </button>
        <ng-template #thenBlock>
            

        </ng-template>
        

        <ng-template #eurBlock>
            <div *ngFor="let countries of eur">

                <button mat-button-update mat-raised-button color="primary" class="b" id="btn2" (click)="eurClick()">
                    {{ countries.Country }}
                </button>
            </div> 

            </ng-template>  -->


        <!-- Antarcica -->
        <!-- <button mat-button-update mat-raised-button color="primary"  class="b" id="btn" (click)="this.antButton = false">
            
                {{antButton? 'Antarcica' : 'Antarcica'}}
                <div *ngIf="antButton; then thenBlock else antBlock"> </div>
              
            </button>
            <ng-template #thenBlock>
                
 
            </ng-template>
            

            <ng-template #antBlock>
                <div *ngFor="let countries of ant">

                    <button mat-button-update mat-raised-button color="primary" class="b" id="btn2" (click)="antClick()">
                        {{ countries.Country }}
                    </button>
                </div> 

                </ng-template>  -->

        <!-- Australia -->
        <!-- <button mat-button-update mat-raised-button color="primary" class="b" id="btn" (click)="this.ausButton = false">
            
            {{ausButton? 'Australia' : 'Australia'}}
            <div *ngIf="ausButton; then thenBlock else ausBlock"> </div>
          
        </button>
        <ng-template #thenBlock>
            

        </ng-template>
        

        <ng-template #ausBlock>
            <div *ngFor="let countries of aus">

                <button mat-button-update mat-raised-button color="primary" class="b" id="btn2" (click)="ausClick()">
                    {{ countries.Country }}
                </button>
            </div> 

            </ng-template>  -->


        <!-- nortn amercia  -->

        <!-- <button mat-button-update mat-raised-button color="primary"  class="b" id="btn" (click)="this.usaButton = false">
            
                {{usaButton? 'North America' : 'North America'}}
                <div *ngIf="usaButton; then thenBlock else usaBlock"> </div>
            
            </button> -->
        <!-- <ng-template #thenBlock>
                

            </ng-template>
            

            <ng-template #usaBlock>
                <div *ngFor="let countries of usa">

                    <button mat-button-update mat-raised-button color="primary"  id="btn2" (click)="usaClick()">
                        {{ countries.Country }}
                    </button>
                </div> 

                </ng-template>  -->
        <!-- </div> -->





        <!-- container div -->
        <!-- </div> -->
        <!-- bot div  -->
        <!-- </div> -->