<body>

    <div class="bot" id="bot">
        <img class="bot-image" src="assets/monkey.png" alt="bot-image">

        <!-- login -->
        <button mat-button-update mat-raised-button color="primary" class="login" id="login"
            *ngIf="this.isButtonVisible" (click)="this.isButtonVisible = false">

            <div *ngIf="this.isButtonVisible" (click)="this.isButtonVisible = false" then thenBlock>
                {{enter? 'continents' : 'Guest'}}
            </div>
        </button>

        <div *ngIf="this.isButtonVisible; then thenBlock else helloBlock"> </div>

        <ng-template #thenBlock>
            <div class="response">Holidays are comming </div>

        </ng-template>

        <ng-template #helloBlock>
            <div class="response">Hello what location would you like to take your holiday in? </div>
            <div class="container" id="first-choice">
            </div>


            <!-- Asia -->

            <button mat-button-update mat-raised-button color="primary" class="b" id="btn" (click)="asiaClick()" (click)="this.asiaButton = false">
                
                {{asiaButton? 'Asia' : 'Asia'}}
                <div *ngIf="this.asiaButton; then thenBlock else asiaBlock"> 
                </div>
            </button>
            <ng-template #thenBlock>
                
 
            </ng-template>
            

            <ng-template #asiaBlock>
                <div *ngFor="let countries of asia">

                    <button mat-button-update mat-raised-button color="primary" class="b" id="africa" (click)="asiaClick()">
                        {{ countries.Country }}
                    </button>
                </div> 
              
                </ng-template>


            <!-- Africa -->
            <button mat-button-update mat-raised-button color="primary" class="b" id="btn" (click)="africaClick()" (click)="this.africaButton = false">
                
                {{africaButton? 'Africa' : 'Africa'}}
                <div *ngIf="this.africaButton; then thenBlock else africaBlock"> 
                </div>
            </button>
            <ng-template #africaBlock>
 
            </ng-template>
            

            <ng-template #africaBlock>
                <div *ngFor="let countries of africa">

                    <button mat-button-update mat-raised-button color="primary" class="b" id="africa" (click)="africaClick()">
                        {{ countries.Country }}
                    </button>
                </div> 
              
                </ng-template>


                   <!-- North America -->
            <!-- <button mat-button-update mat-raised-button color="primary" class="b" id="btn"
                    *ngIf="this.nAButton" (click)=" this.nAButton = false">
                    <div *ngIf="this.usaButton" (click)="this.nAButton = false" then thenBlock>
                        {{nAButton? 'North America' : 'false'}}
                    </div>
                </button> -->



            <!-- USA -->
            <!-- <button mat-button-update mat-raised-button color="primary" class="b" id="btn"> 
                    <div *ngIf="this.usaButton" (click)="this.usaButton = false" then thenBlock>
                        {{usaButton? 'USA' : 'false'}}
                    </div>
                </button> -->


            <!-- Antarcica -->
            <!-- <button mat-button-update mat-raised-button color="primary" class="b" id="btn"
                        (click)=" this.antButton = false">
                        <div *ngIf="this.antButton" (click)="this.antButton = false" then thenBlock>
                            {{antButton? 'Antarcica' : 'false'}}
                        </div>
                    </button> -->

            <!-- Europe -->
            <!-- <button mat-button-update mat-raised-button color="primary" class="b" id="btn"
                        (click)=" this.eurButton = false">
                        <div *ngIf="this.eurButton" (click)="this.eurButton = false" then thenBlock>
                            {{eurButton? 'Europe' : 'false'}}
                        </div>
                    </button> -->

            <!-- Australia -->
            <!-- <button mat-button-update mat-raised-button color="primary" class="b" id="btn"
                        (click)=" this.ausButton = false">
                        <div *ngIf="this.ausButton" (click)="this.ausButton = false" then thenBlock>
                            {{ausButton? 'Australia' : 'false'}}
                        </div>
                    </button> -->




                
            <!-- USA -->

            <!-- <div *ngIf="this.usaButton; then thenBlock else elseBlock"> </div>

            <ng-template #thenBlock>


            </ng-template>

            <ng-template #elseBlock>
                    
                <div *ngFor="let countries of usa">

                    <button mat-button-update mat-raised-button color="primary" class="b" id="usa" (click)="usaClick()">
                        {{ countries.Country }}
                    </button>
    
                    
                </div>  -->

                <!-- <ng-template #thenBlock>
             -->

            <!-- Africa -->
<!-- <div *ngIf="this.africaButton; then thenBlock else africaBlock"> </div> -->

    
             
                    
              
                    
               




                
            <!-- Asia -->
<!-- 
            <div *ngIf="this.asiaButton; then thenBlock else asiaBlock"> </div>

            <ng-template #thenBlock>

            </ng-template>

            <ng-template #asiaBlock>

                <div *ngFor="let countries of asia">

                    <button mat-button-update mat-raised-button color="primary" class="b" id="asia"
                        (click)="asiaClick()">
                        {{ countries.Country }}
                    </button>

                </div>

            </ng-template> -->




     











            <!-- North America -->

            <!-- <div *ngIf="this.nAButton; then thenBlock else elseBlock"> </div>

            <ng-template #thenBlock>


            </ng-template>

            <ng-template #elseBlock>
                    
                <div *ngFor="let countries of nAmerica">

                    <button mat-button-update mat-raised-button color="primary" class="b" id="north" (click)="nAmericaClick()">
                        {{ countries.Country }}
                    </button>
    
                    
                </div> -->


            <!-- aus  -->
            <!-- <div *ngIf="this.ausButton; then thenBlock else elseBlock"> </div>

                <ng-template #thenBlock>
    
                </ng-template>
    
                <ng-template #elseBlock>
                 
                        
                    <div *ngFor="let countries of aus">
    
                        <button mat-button-update mat-raised-button color="primary" class="b" id="aus" (click)="ausClick()">
                            {{ countries.Country }}
                        </button>
                        
                    </div> -->

            <!-- ant -->

            <!-- <div *ngIf="this.antButton; then thenBlock else elseBlock"> </div>

                    <ng-template #thenBlock>
        
                    </ng-template>
        
                    <ng-template #elseBlock>
                     
                            
                        <div *ngFor="let ants of ant">
        
                            <button mat-button-update mat-raised-button color="primary" class="b" id="ant" (click)="antClick()">
                               
                            </button>
                            {{ ants.Country }}
                         
                        </div>  -->







            <!-- </div> -->
            <!-- </body> -->