html, body {
    display: flex;
    margin:0px;
  }
 


  button.mat-stroked-button {
    font-size: 14px;
    height: 42px;
    margin: 10px;
  }

.response {
    padding-top: 12px;
    padding-left: 4px;
    font-size: 21px;

  }
#bot
{
    display: flex;
    background-color: rgb(228, 235, 235);
    width: 25%;
    height: 35%;
    position: absolute;
    bottom: 9px; 
    right: 11px;
    
}


/* .bot{
    display: flex;
    background-color: rgb(228, 235, 235);
    width: 25%;
    height: 15%;
    position: absolute;
    bottom: 15px; 
    right: 11px;
    border-style: groove ;
    border-radius: 25px; 
} */

.login-div{
    display: flex;
    height: 60%; 
    /* width: 60%;  */
    align-items: center;
    text-align: center;
    flex-direction: column;
    /* justify-content: center; */

}

.bot-image{
    display: flex;
    width: 100px;
    height: 100px;
    align-items: center;
    /* flex-direction: row; */

}

.mat-raised-button{
    /* display: flex; */
    /* padding-top: 90px; */
    flex-direction: row;
    width: 70px;
    height: 50px;
    justify-content: center;
    position: relative;
    flex-wrap: wrap;
    background-color: rgba(43, 18, 58, 0.418);
    justify-content: space-around;
   
}

.button, .login {
    display: flex;
    width: 20%;
    height: 20%;
    justify-content: center;
    /* margin-right: 0; */

}
.b {
    /* display: flex; */
    /* padding-top: 90px; */
    flex-direction: row;
    width: 70px;
    height: 50px;
}

#btn{
    /* display: flex; */
    /* padding-top: 90px; */
    /* flex-direction: row; */
    width: 70px;
    height: 50px;
    flex-wrap: nowrap;
    background-color: rgba(43, 18, 58, 0.418);
    justify-content: space-around;
}

#btn:hover {
    background-color:#767eac;
}

/* #buttons {
    display: flex;
    flex-direction: column;
    width: 5%;
    height: 8%;
    flex-wrap: wrap;
    align-items: center;
    
} */



h1 {
    display: flex;
    font-size: 100px;
    margin-top: 15px;
    margin-left: 15px;
    width: 900px;
    height: 30px;
}

.mat-raised-button:hover {
    background-color:#767eac;
   
}

